
###############################################################################################################################
# Claude API Configuration
###############################################################################################################################
CLAUDE_MODEL = ""
CLAUDE_API_KEY=""
CLAUDE_MAX_TOKENS=



###############################################################################################################################
# Github API Configuration
###############################################################################################################################
GITHUB_TOKEN = ""

###############################################################################################################################

###############################################################################################################################